services:
  springboot:
    build:
      context: ./hello
    container_name: springboot
    ports:
      - "8081:8080"
    networks:
      - apisix-net

  apisix:
    image: apache/apisix:3.7.0-debian
    container_name: apisix
    volumes:
      - ./apisix/config.yaml:/usr/local/apisix/conf/config.yaml:ro
      - ./apisix/apisix.yaml:/usr/local/apisix/conf/apisix.yaml:ro
    ports:
      - "9080:9080"  # main gateway port
    depends_on:
      - springboot
    networks:
      - apisix-net

networks:
  apisix-net:
    driver: bridge